.boardsMainContainer {
    display: flex;
}

.boardsMainContainer.darkenInactive {
    filter: brightness(0.25);
}

.boardsRightContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    flex-grow: 1;
}