.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;
    height: 100vh;
}

.homeLogo {
    margin-top: 100px;
}

.homeTitle {
    margin-top: 50px;
    padding: 0 100px;
}

.homeText {
    margin-top: 20px;
    padding: 0 80px;
}

.homeLink {
    color: #2c2c38;
    font-weight: 600;
    text-decoration: none;
    margin-top: 10px;
}

.homeLink:hover {
    color: #A445ED;
}