.logoImageLarge {
    margin: 20px;
}

.logoImageSmall {
    margin: 20px;
    display: none;
}

/* @media (min-width: 568px) and (max-width: 1023px) {

} */

@media (max-width: 567px) {
    .logoImageLarge {
        display: none;
    }
    
    .logoImageSmall {
        display: inline;
    }
}