.projectsMainContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 90%;
    color: #828fa3;
}

.projectsLoadingMessage {
    margin-left: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.projectsHeader {
    font-size: 17px;
    font-weight: 200;
    margin-bottom: 10px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.projectsItemsContainer {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    max-height: 85%;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.projectsItemsContainer::-webkit-scrollbar {
    display: none;
}

.projectsItemContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.projectsItemContainer.currentProject {
    background-color: #645fc6;
    border-radius: 0 25px 25px 0;
    color: #f8f8f8;
}

.projectsProjectIcon {
    margin: 0 7px;
}

.projectsProjectTitle {
    margin-right: 7px;
}

.projectsProjectTitle:hover {
    color: #A445ED;
}

.projectsActiveItemContainer {
    height: 25px;
    display: flex;
    align-items: center;
}

.projectsActiveItemContainer input {
    height: 25px;
    width: 60%;
    padding-left: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.projectsActiveItemContainer input:focus {
    outline: none;
}

.nightMode input {
    background-color: #828fa3;
}

.projectsActiveItemConfirmButton, .projectsActiveItemCancelButton {
    border: none;
    background-color: inherit;
    margin-right: 10px;
    color: #f8f8f8;
    cursor: pointer;
}

.projectsActiveItemConfirmButton:hover {
    color: #A445ED;
}

.projectsActiveItemCancelButton:hover {
    color: #828fa3;
}

.projectsAddProjectContainer {
    display: flex;
    align-items: center;
}

.projectsCreateNewButton {
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.projectsCreateNewButton:hover {
    color: #A445ED;
    font-weight: 700;
}

.projectsAddProjectContainer button {
    color: inherit;
}

/* @media (min-width: 568px) and (max-width: 1023px) {

} */

@media (max-width: 567px) {
    .projectsItemContainer {
        height: 50px;
        font-size: 12px;
    }
    
    .projectsProjectIcon {
        margin: 0 4px;
        height: 13px;
    }
    
    .projectsProjectTitle {
        margin-right: 5px;
    }
    
    .projectsItemEditButton, .projectsItemDeleteButton {
        font-size: 12px;
        margin-right: 5px;
        color: #828fa3;
    }

    .currentProject .projectsItemEditButton, .currentProject .projectsItemDeleteButton {
        color: #828fa3;
    }


}